<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Period Tracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/period_record/">Record Your Cramps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/get_visual_data/">Visualise Your Cramps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/period_list/">Get The data</a>
          </li>
        </ul>
        <form class="d-flex" action="/logout/" method="post" >
          {% csrf_token %}
          <button class="btn btn-danger" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </nav>